html{
  font-family: 'Inria Sans';
  background: #eeeeee;
}
.color-bar{
  height: 8px;
  width: 100%;
  background-color: #008542!important;
}
:root{
  --green: #008542;
}
.button{
  background: linear-gradient(#0AAD5F, #007A43 );
  color: #D4FFE9;
}
.button:hover{
  color: rgb(167, 211, 188);
}